ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    padding: 10px;
    margin-bottom: 5px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

li:hover {
    background-color: #e0e0e0;
}

/* form {
    margin-bottom: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
} */

form label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

form input[type=text],
form input[type=number],
form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

form input[type=checkbox] {
    margin-right: 10px;
}


/* Neutrals */
:root {
    --color-white: #fff;
    --color-black: #222;
    --color-gray-100: #f7fafc;
    --color-gray-200: #edf2f7;
    --color-gray-300: #e2e8f0;
    --color-gray-400: #cbd5e0;
    --color-gray-500: #a0aec0;
    --color-gray-600: #718096;
    --color-gray-700: #4a5568;
    --color-gray-800: #2d3748;
    --color-gray-900: #1a202c;
}

/* Headers */
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 1rem;
    font-weight: 600;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.75rem;
}

/* Background */
body {
    background-color: var(--color-gray-100);
}

/* Links */
a {
    color: #2b6cb0;
    text-decoration: none;
    transition: color 0.15s ease-in-out;
}

a:hover {
    color: #2c5282;
}