{% extends "base.html" %}

{% block content %}
<div class="glass-pane">
    <h2>Add Blacklisted Client</h2>
    <form action="{{ url_for('add_blacklisted_client') }}" method="POST">
        {{ form.hidden_tag() }}
        <label for="client_name">Client Name:</label>
        {{ form.client_name }}
        <label for="reason">Reason for Blacklisting:</label>
        {{ form.reason }}
        <label for="blacklisting_person">Person Blacklisting:</label>
        {{ form.blacklisting_person }}
        {{ form.submit }}
    </form>
</div>
{% endblock %}