{% extends "base.html" %}

{% block content %}













<div class="glass-pane">
    <h3>Add Medication to be Ordered</h3>
    <form class="input" action="/medications/to-be-ordered" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <label for="name">Medication Name:</label>
        <input type="text" id="name" name="name" required>
        <label for="quantity">Quantity:</label>
        <input type="number" id="quantity" name="quantity" required>
        <label for="backordered">Backordered:</label>
        <input type="checkbox" id="backordered" name="backordered">
        <button class="btn btn-info" type="submit">Add Medication</button>
        <a href="{{ url_for('get_medication_details') }}" class="btn btn-info" id="get-details-btn">Get
            Details</a>

    </form>
</div>
<div class="glass-pane">
    <h2>Medication To Be Ordered</h2>
    <ul>
        {% for med in meds_to_be_ordered %}

        <li class="list-group-item">

            <a href="/medications/{{ med.id }}">{{ med.name }}</a> - {{ med.date_requested }} - Quantity: {{
            med.quantity }}
            - Backordered: {{ med.backordered }} - Ordered by: {{ med.user.first_name }}
            <form action="/medications/on-order/{{ med.id }}" method="POST">
                <button type="submit">Move to On Order</button>
            </form>

        </li>

        {% endfor %}
    </ul>
</div>

<div class="glass-pane">

    <h2>Medication On Order</h2>
    <ul>
        {% for med in meds_on_order %}
        <li class="list-group-item">

            <a href="/medications/{{ med.id }}">{{ med.name }}</a> - {{ med.date_order_placed }} - Quantity: {{
            med.quantity }}
            - Ordered by: {{ med.user.first_name
            }}
            <form action="/medications/received/{{ med.id }}" method="POST">
                <button type="submit">Move to Order Received</button>
            </form>

        </li>
        {% endfor %}
    </ul>
</div>

{% block scripts %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const getDetailsBtn = document.getElementById('get-details-btn');
        const medNameInput = document.getElementById('name');

        getDetailsBtn.addEventListener('click', function (e) {
            e.preventDefault();
            const medName = medNameInput.value;
            if (medName) {
                const detailsUrl = `/medications/details?name=${encodeURIComponent(medName)}`;
                window.location.href = detailsUrl;
            } else {
                alert('Please enter a medication name.');
            }
        });
    });
</script>
{% endblock %}

{% endblock %}
<div class="line"></div>
</div>
</div>
</div>