{% extends 'base.html' %}

{% block content %}
<div class="glass-pane">
    <a style="justify-content: center; padding-left: 100px; padding-right: 100px;" href="{{ url_for('create_post') }}"
        class="btn btn-primary">Create Post</a>
</div>
{% for post in posts %}
<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title">{{ post.title }}</h5>
        <h3 class="card-text">{{ post.content }}</h3>
        <p class="card-text"><small class="text-muted">Posted on {{ post.timestamp.strftime('%Y-%m-%d %H:%M')
                }}</small>
        </p>


        {% if post.comments %}
        <h5>Comments:</h5>
        <ul>
            {% for comment in post.comments %}
            <li>
                <strong>{{ comment.user.username }}</strong> - {{ comment.content }}
                <small>({{ comment.timestamp.strftime('%Y-%m-%d %H:%M') }})</small>
            </li>


            {% endfor %}
        </ul>
        {% endif %}
        <a href="{{ url_for('comments', post_id=post.id) }}" class="btn btn-primary">View Post</a>
        <form action="{{ url_for('delete_post', post_id=post.id) }}" method="POST">
            <input type="hidden" name="_method" value="DELETE">
            <button type="submit" class="btn btn-danger">Delete Post</button>
        </form>
    </div>

</div>

{% endfor %}
{% endblock %}