{% extends "base.html" %}

{% block content %}

<h1>Time Off Requests</h1>

<h2>My Time Off Requests</h2>
{% for time_off_request in user_time_off_requests %}

<div class="glass-pane">

    <p><strong>Shift Coverage Date:</strong> {{ time_off_request.shift_coverage_date }}</p>
    <p><strong>Covering User:</strong> {{ time_off_request.covering_user.username }}</p>
    <p><strong>Reason:</strong> {{ time_off_request.reason }}</p>
    <p><strong>Manager Approval:</strong> {{ 'Yes' if time_off_request.manager_approval else 'No' }}</p>
    <a href="{{ url_for('show_edit_time_off_request', time_off_request_id=time_off_request.id) }}">Edit Time Off
        Request</a>
    <a href="{{ url_for('delete_time_off_request', time_off_request_id=time_off_request.id) }}">Delete Time Off
        Request</a>
</div>

{% endfor %}

<h2>Covering for Other Users</h2>
{% for time_off_request in covered_time_off_requests %}
<div class="glass-pane">

    <p><strong>User:</strong> {{ time_off_request.user.username }}</p>
    <p><strong>Shift Coverage Date:</strong> {{ time_off_request.shift_coverage_date }}</p>
    <p><strong>Reason:</strong> {{ time_off_request.reason }}</p>
    <p><strong>Manager Approval:</strong> {{ 'Yes' if time_off_request.manager_approval else 'No' }}</p>
    <a href="{{ url_for('show_edit_time_off_request', time_off_request_id=time_off_request.id) }}">Edit Time Off
        Request</a>

    <a href="{{ url_for('delete_time_off_request', time_off_request_id=time_off_request.id) }}">Delete Time Off
        Request</a>
</div>
{% endfor %}
</div>
<div class="glass-pane">

</div>
{% endblock %}